.wrapper{
    display: flex;
}

/* Side Nav Bar Start */
.side_nav{
    background-color: #3F2768;
    padding: 1rem;
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.side_nav .logo_img{
    padding: 1rem;
    margin-bottom: 35px;
}
.logo_img img{
    width: 10vh;
}

.side_nav .tabs{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 30vh;
    justify-content: space-between;
    width: 11vw;
    color: white;
}

.tab_common{
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    padding: 5px;
    font-size: 1rem;
    transition: 0.3s;
}

.tab_common:hover{
    cursor: pointer;
    background-color: #77889970;
}

.tab_common_img img{
    margin-right: 10px;
}
/* Side Nav Bar End */




/* Main content Section Start */

.main_content{
    position: relative;
    width: 100%;
    padding-right: 2rem;
    padding-top: 1rem;
}

.main_content .profile_tab{
    display: flex;
    justify-content: flex-end;
}

.main_content .avatar_profile_img{
    position: relative;
    width: 100%;
}

/* Main content Section End */